extends c

snippet un "using namespace ..." b
using namespace $0
endsnippet

snippet class "class .."
class ${1:ClassName} {
	${0:/* data */}
};
endsnippet

snippet template "template <class ..>"
template <class ${0:T}>
endsnippet

snippet foreach "foreach loop"
for (const auto& ${1:item}: ${2:collection}) {
	${VISUAL}${3:// Code here}
}$0
endsnippet

snippet "(\w+)\.foreach" "for item: co" ir
for (const auto& ${1:item}: `!p snip.rv = match.group(1)`) {
	${2:// Code here}
}$0
endsnippet
