priority -50

extends c

snippet un "using namespace ..." b
using namespace $0
endsnippet

snippet class "class .."
class ${1:ClassName} {
	${0:/* data */}
};
endsnippet

snippet template "template <class ..>"
template <class ${0:T}>
endsnippet
